<nav class="navbar bg-danger shadow-lg p-2 navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand">

      <img height="40" width="45" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGeJKkEu3MTo5RepefdBYfatsfAEKl-Sth3g&s"/>

    </a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>